<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="MyContext" providerName="Np"
             connectionString="Host=localhost;Port=5432;Database=test1;Username=postgres;Password=111"/>
    </connectionStrings>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
        <providers>
            <provider invariantName="MySql.Data.MySqlClient"
                      type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework"/>
        </providers>
    </entityFramework>
</configuration>